<section class='features__base'>
    <div class='feature__base'>
        <svg class='inline-svg feature__icon' src='../../public/svgs/global.svg' alt='globe icon'></svg>
        <h4 class='heading-4 heading-4--dark'>World's best luxury homes</h4>
        <p class='feature__text'>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur
            voluptatibus.
        </p>
    </div>
    <div class='feature__base'>
        <svg class='inline-svg feature__icon' src='../../public/svgs/trophy.svg' alt='trophy icon'></svg>
        <h4 class='heading-4 heading-4--dark'>Only the best properties</h4>
        <p class='feature__text'>
            Voluptatum mollitia quae. Vero ipsum sapiente molestias accusamus rerum sed a eligendi aut quia.
        </p>
    </div>
    <div class='feature__base'>
        <svg class='inline-svg feature__icon' src='../../public/svgs/map-pin.svg' alt='map-pin icon'></svg>
        <h4 class='heading-4 heading-4--dark'>All homes in top-locations</h4>
        <p class='feature__text'>Tenetur distinctio necessitatibus pariatur voluptatibus quidem consequatur harum.</p>
    </div>
    <div class='feature__base'>
        <svg class='inline-svg feature__icon' src='../../public/svgs/key.svg' alt='key icon'></svg>
        <h4 class='heading-4 heading-4--dark'>New home in one week</h4>
        <p class='feature__text'>
            Vero ipsum sapiente molestias accusamus rerum. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class='feature__base'>
        <svg class='inline-svg feature__icon' src='../../public/svgs/presentation.svg' alt='presentation icon'></svg>
        <h4 class='heading-4 heading-4--dark'>Top 100% realtors</h4>
        <p class='feature__text'>
            Quidem consequatur harum, voluptatum mollitia quae. Tenetur distinctio necessitatibus pariatur voluptatibus.
        </p>
    </div>
    <div class='feature__base'>
        <svg class='inline-svg feature__icon' src='../../public/svgs/lock.svg' alt='lock icon'></svg>
        <h4 class='heading-4 heading-4--dark'>Secure payments on Nexter</h4>
        <p class='feature__text'>Pariatur voluptatibus quidem consequatur harum, voluptatum mollitia quae.</p>
    </div>
</section>