<footer class='footer__base'>
    <nav class='navigation__base'>
        <ul class='navigation__list'>
            <li class='navigation__item'><a href='#' class='navigation__link'>Find your dream home</a></li>
            <li class='navigation__item'><a href='#' class='navigation__link'>Request proposal</a></li>
            <li class='navigation__item'><a href='#' class='navigation__link'>Download home planner</a></li>
            <li class='navigation__item'><a href='#' class='navigation__link'>Contact us</a></li>
            <li class='navigation__item'><a href='#' class='navigation__link'>Submit your property</a></li>
            <li class='navigation__item'><a href='#' class='navigation__link'>Come work with us</a></li>
        </ul>
    </nav>
    <p class='copyright__base'>
        <span>Built & enhanced by
            <a href='#' class='copyright__link'>Paul Serban</a>
            for personal practice and POC.</span>
        <span>Designed by Jonas Schmedtmann for his course "ADVANCED CSS AND SCSS"</span>
    </p>
</footer>