<section class='gallery__base'>

    <figure class='gallery__item gallery__item--1'>
        <img src='./public/images/gal-1-original.webp' alt='image 1' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--2'>
        <img src='./public/images/gal-2-original.webp' alt='image 2' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--3'>
        <img src='./public/images/gal-3-original.webp' alt='image 3' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--4'>
        <img src='./public/images/gal-4-original.webp' alt='image 4' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--5'>
        <img src='./public/images/gal-5-original.webp' alt='image 5' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--6'>
        <img src='./public/images/gal-6-original.webp' alt='image 6' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--7'>
        <img src='./public/images/gal-7-original.webp' alt='image 7' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--8'>
        <img src='./public/images/gal-8-original.webp' alt='image 8' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--9'>
        <img src='./public/images/gal-9-original.webp' alt='image 9' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--10'>
        <img src='./public/images/gal-10-original.webp' alt='image 10' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--11'>
        <img src='./public/images/gal-11-original.webp' alt='image 11' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--12'>
        <img src='./public/images/gal-12-original.webp' alt='image 12' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--13'>
        <img src='./public/images/gal-13-original.webp' alt='image 13' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
    <figure class='gallery__item gallery__item--14'>
        <img src='./public/images/gal-14-original.webp' alt='image 14' class='gallery__img' />
        <figcaption style='display: none'>figcaption</figcaption>
    </figure>
</section>