<header class='header__base'>
    <img src='./public/images/logo-original.webp' alt='logo' class='header__logo' />
    <h3 class='heading-3'>Your own home:</h3>
    <h1 class='heading-1'>The ultimate personal freedom</h1>
    <button class='button__cta button__cta--header'>View our properties</button>
    <p class='header__seenon-text'>As seen on</p>
    <div class='header__seenon-logos'>
        <img src='./public/images/logo-bbc-original.webp' alt='bbc logo' />
        <img src='./public/images/logo-forbes-original.webp' alt='forbes logo' />
        <img src='./public/images/logo-techcrunch-original.webp' alt='techcrunch logo' />
        <img src='./public/images/logo-bi-original.webp' alt='business insider logo' />
    </div>
</header>