<section class='homes__base'>
    <div class='card__base'>
        <img class='card__image' src='./public/images/house-1-original.webp' alt='House number 1' />
        <svg class='card__like inline-svg' src='../../public/svgs/heart-full.svg' alt='Full heart icon'></svg>
        <h5 class='card__name'>Beautiful Family House</h5>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/map-pin.svg' alt='Map pin'></svg>
            <p>USA</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/profile-man.svg' alt='Rooms icon - human shape'></svg>
            <p>5 Rooms</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/expand.svg' alt='Expand icon'></svg>
            <p>325 m<sup>2</sup></p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/key.svg' alt='Key icon'></svg>
            <p>$1,200,000</p>
        </div>
        <button class='button__cta button__cta--card'>Contact realtor</button>
    </div>

    <div class='card__base'>
        <img class='card__image' src='./public/images/house-2-original.webp' alt='House number 2' />
        <svg class='card__like inline-svg' src='../../public/svgs/heart-full.svg' alt='Full heart icon'></svg>
        <h5 class='card__name'>Modern Glass Villa</h5>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/map-pin.svg' alt='Map pin'></svg>
            <p>Canada</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/profile-man.svg' alt='Rooms icon - human shape'></svg>
            <p>6 Rooms</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/expand.svg' alt='Expand icon'></svg>
            <p>450 m<sup>2</sup></p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/key.svg' alt='Key icon'></svg>
            <p>$2,750,000</p>
        </div>
        <button class='button__cta button__cta--card'>Contact realtor</button>
    </div>

    <div class='card__base'>
        <img class='card__image' src='./public/images/house-3-original.webp' alt='House number 3' />
        <svg class='card__like inline-svg' src='../../public/svgs/heart-full.svg' alt='Full heart icon'></svg>
        <h5 class='card__name'>Cozy Country House</h5>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/map-pin.svg' alt='Map pin'></svg>
            <p>UK</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/profile-man.svg' alt='Rooms icon - human shape'></svg>
            <p>4 Rooms</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/expand.svg' alt='Expand icon'></svg>
            <p>250 m<sup>2</sup></p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/key.svg' alt='Key icon'></svg>
            <p>$850,000</p>
        </div>
        <button class='button__cta button__cta--card'>Contact realtor</button>
    </div>

    <div class='card__base'>
        <img class='card__image' src='./public/images/house-4-original.webp' alt='House number 4' />
        <svg class='card__like inline-svg' src='../../public/svgs/heart-full.svg' alt='Full heart icon'></svg>
        <h5 class='card__name'>Large Rustic Villa</h5>
        <div class='card__amenity'>
            <svg clsss='inline-svg' src='../../public/svgs/map-pin.svg' alt='Map pin'></svg>
            <p>Portugal</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/profile-man.svg' alt='Rooms icon - human shape'></svg>
            <p>6 Rooms</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/expand.svg' alt='Expand icon'></svg>
            <p>480 m<sup>2</sup></p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/key.svg' alt='Key icon'></svg>
            <p>$1,900,000</p>
        </div>
        <button class='button__cta button__cta--card'>Contact realtor</button>
    </div>

    <div class='card__base'>
        <img class='card__image' src='./public/images/house-5-original.webp' alt='House number 5' />
        <svg class='card__like inline-svg' src='../../public/svgs/heart-full.svg' alt='Full heart icon'></svg>
        <h5 class='card__name'>Majestic Palace House</h5>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/map-pin.svg' alt='Map pin'></svg>
            <p>Germany</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/profile-man.svg' alt='Rooms icon - human shape'></svg>
            <p>18 Rooms</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/expand.svg' alt='Expand icon'></svg>
            <p>4230 m<sup>2</sup></p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/key.svg' alt='Key icon'></svg>
            <p>9,500,000</p>
        </div>
        <button class='button__cta button__cta--card'>Contact realtor</button>
    </div>

    <div class='card__base'>
        <img class='card__image' src='./public/images/house-6-original.webp' alt='House number 6' />
        <svg class='card__like inline-svg' src='../../public/svgs/heart-full.svg' alt='Full heart icon'></svg>
        <h5 class='card__name'>Modern Family Apartment</h5>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/map-pin.svg' alt='Map pin'> </svg>
            <p>Italy</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/profile-man.svg' alt='Rooms icon - human shape'></svg>
            <p>3 Rooms</p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/expand.svg' alt='Expand icon'></svg>
            <p>180 m<sup>2</sup></p>
        </div>
        <div class='card__amenity'>
            <svg class='inline-svg' src='../../public/svgs/key.svg' alt='Key icon'></svg>
            <p>600,000</p>
        </div>
        <button class='button__cta button__cta--card'>Contact realtor</button>
    </div>
</section>