@import '../../abstracts/variables.scss';

$cmp: 'feature';

.#{$cmp} {
  &__base {

  }

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
  }

  &__text {
    font-size: 1.7rem;
  }
}